

.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.portfolio span:nth-of-type(1){
    color: var(--black);
    font-size: 4rem;
    font-weight: bold;
}
.portfolio span:nth-of-type(2){
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
}

/* slider */

.portfolio .swiper{
    overflow: visible !important;
}

.portfolio-slider{
    width: 100%;
    margin-top: 4rem;
    /* background-color: aqua; */
}
.portfolio-slider .swiper-slider{
    width: 19rem;
    
}

.portfolio img{
    width: 35rem;
    filter: drop-shadow(-1.2rem 1.5rem 1.3rem rgba(0,0,0, 0.25));
    border-radius: 2rem;
}




@media screen and (max-width :480px){
  
.portfolio{
    margin-top: 8rem;
}

.portfolio>*{
    /* width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua !important; */
}
    
       
      }